#canvas {
	/*background-color: #003366;*/
	position: absolute;
	top: 0;
	left: 0;
}


#button {
	position: absolute;
	z-index: 1;
	margin-top: 40%;
	left: 3%;
	color: #b5c2cf;
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	border: 0.5px solid #b5c2cf;
	border-radius: 10%;
}

body {
	background: linear-gradient(342deg, #870000, #180063, #006304);
	background-size: 600% 600%;

	animation: bgGradient 33s ease infinite;

	
}

@keyframes bgGradient { 
    0%{background-position:29% 0%}
    50%{background-position:72% 100%}
    100%{background-position:29% 0%}
}